{% extends 'index.html' %}
{% load replace %}

{% block content %}
{% include 'ui/criar_comentario.html' %}
<style>
.header {
    display: flex;
    justify-content: space-center;
    align-items: center;
    gap: 10px;
}

</style>

<h1>
    <a href={% url 'home' %}>Publicações</a>
</h1>

<div class="header">
    <h1>{{publicacao.titulo}}</h1> 
    |
    <h2><a href="{% url 'publicar' %}">Publicar</a></h2>
</div>

<div id="comment-area">
    {% comment %} {{publicacao.conteudo}} {% endcomment %}

    
    <pre>
        {{publicacao.conteudo|safe}}
    </pre>
    
        
    <div>
        <h3>Comentários:</h3>
        {% for comment in comments %}
            <p>
                <span class="highlight prevent-selection" data-start="{{ comment.destaque_inicio }}" data-end="{{ comment.destaque_fim }}" >
                    {{ comment.selecao }} 
                </span>
                - {{ comment.texto }} | 
                <a href={% url 'apagar_comentario' comment.id %} title="apagar"> x </a>
            </p>
        {% endfor %}
    </div>
</div>
{% endblock content %}