{% extends 'index.html' %}

{% block content %}
<style>
.header {
    display: flex;
    justify-content: space-center;
    align-items: center;
    gap: 10px;
}
.titulo-publi {
    text-transform: uppercase;
    text-decoration: underline;
}
.publi {
    display: flex;
    
    align-items: center;
    gap: 10px;
}
</style>



<div class="header">
    <h1>Publicações</h1> 
    |
    <a href="{% url 'publicar' %}">Publicar</a>
</div>

<div >
    {% for publicacao in publicacoes %}
       <div class="publi">
        <h3 class="titulo-publi"> 
            <a href="{% url 'detalhes_publicacao' publicacao.id %}">{{ publicacao.titulo }}</a>
        </h3> 
        <a href="{% url 'comentar' publicacao.id %}">comentar</a>
       </div>
    {% endfor %}
</div>
{% endblock content %}