#comment-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.comment-box {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #cbcbcb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlight {
    background-color: yellow; 
}

.prevent-selection {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
