{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/global.css' %}">
    <title>{{title}}</title>
</head>
<body>
    {% block content %}
        replace me.
    {% endblock content %}

    {% for message in messages %}
        <div class="message {{message.tags}}">
            {{message}}
        </div>
    {% endfor %}
</body>
</html>