{% block content %}
<script>
    document.addEventListener('mouseup', function() {
        const selectedText = window.getSelection().toString().trim();

        if (selectedText) {
            document.getElementById('selecao').value = selectedText;

            // Aplica a classe "highlight" à seleção
            const selectionRange = window.getSelection().getRangeAt(0);
            const highlightSpan = document.createElement('span');
            highlightSpan.className = 'highlight';
            selectionRange.surroundContents(highlightSpan);

            // Atualiza os campos ocultos com as informações do destaque
            const destaqueInicio = selectionRange.startOffset;
            const destaqueFim = selectionRange.endOffset;
            document.getElementById('destaque_inicio').value = destaqueInicio;
            document.getElementById('destaque_fim').value = destaqueFim;
        }
         // Aplica os destaques salvos na página
        //const highlights = document.querySelectorAll('.highlight');
        //highlights.forEach((highlight) => {
        //    const start = parseInt(highlight.getAttribute('data-start'));
        //    const end = parseInt(highlight.getAttribute('data-end'));

        //    const selectionRange = document.createRange();
        //    selectionRange.setStart(highlight.firstChild, start);
        //    selectionRange.setEnd(highlight.firstChild, end);

        //    const highlightSpan = document.createElement('span');
        //    highlightSpan.className = 'highlight';
        //    selectionRange.surroundContents(highlightSpan);
        //}); 

        // Aplica os destaques no conteudo que anteriomente foi selecionado
        

    });
</script>


<form method="post" action="{% url 'comentar' publicacao.id %}" class="comment-box">
    {% csrf_token %}
    <label for="texto" class="prevent-selection">Texto selecionado:</label>
    <textarea name="selecao" id="selecao" cols="30" rows="5"></textarea>

    <!-- Campos ocultos para armazenar o destaque -->
    <input type="hidden" name="destaque_inicio" id="destaque_inicio" value="">
    <input type="hidden" name="destaque_fim" id="destaque_fim" value="">

    <label for="comentario" class="prevent-selection">Comentário:</label>
    <textarea name="texto" id="texto" cols="30" rows="5"></textarea>

    <button type="submit">Comentar</button>
</form>
{% endblock content %}
