{% block content %}

<script>

</script>

<form method="post" action="{% url 'publicar' %}" class="comment-box">
    {% csrf_token %}
    <input type="text" name="titulo" id="titulo" placeholder="Título">
    <textarea name="publicacao" id="publicacao" cols="30" rows="10" placeholder="comece a digitar"></textarea>
    <input type="submit" value="Publicar">
</form>

{% endblock content %}